.todoItem{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: tomato;
    margin: 6px 4px;
    height: 60px;
    border-radius: 12px;
    color: white

}

.todoItem >P {
    flex: 1;
    font-size: medium;
}

.todoItem__done{
    text-decoration :5px solid line-through;
 color: black;
   
}